:root {
    --primary: #ce1126;
    /* Ghana red */
    --secondary: #fcd116;
    /* yellow */
    --dark: #006b3f;
    /* green */
    --light: #ffffff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* HEADER */
header {
    background: var(--primary);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

/* HERO */
.hero img {
    width: 100%;
    height: auto;
}

/* MAIN */
main {
    padding: 1rem;
}

/* SECTIONS */
section {
    margin-bottom: 2rem;
}

/* WEATHER ICON MOBILE */
.weather-icon {
    width: 50px;
}

/* FOOTER */
footer {
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

/* LARGE VIEW */
@media (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .weather-title::after {
        content: " ⛅";
        /* pseudo-element requirement */
    }

    .weather-icon {
        display: none;
    }
}